<section id="skills" class="py-20 bg-white dark:bg-gray-900">
    <div class="container mx-auto px-6">
        <h2 class="section-title">My <span class="text-gradient">skills</span></h2>
        
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
            <!-- Habilidad 1 -->
            <article class="card p-6 text-center">
                <header class="w-18 h-18 mx-auto mb-4 bg-blue-100 dark:bg-blue-900/20 rounded-full flex items-center justify-center">
                    <svg class="w-14 h-14 text-orange-500">
                        <use href="/assets/images/sprite.svg#html" />
                    </svg>
                </header>
                <h3 class="font-bold mb-2">HTML5</h3>
                
            </article>
            
            <!-- Habilidad 2 -->
            <article class="card p-6 text-center">
                <header class="w-18 h-18 mx-auto mb-4 bg-blue-100 dark:bg-blue-900/20 rounded-full flex items-center justify-center">
                    <svg class="w-16 h-16 text-blue-500">
                        <use href="/assets/images/sprite.svg#css" />
                    </svg>
                </header>
                <h3 class="font-bold mb-2">CSS3</h3>
            </article>
            
            <!-- Habilidad 3 -->
            <article class="card p-6 text-center">
                <header class="w-18 h-18 mx-auto mb-4 bg-blue-100 dark:bg-blue-900/20 rounded-full flex items-center justify-center">
                    <svg class="w-14 h-14 text-yellow-500">
                        <use href="/assets/images/sprite.svg#javascript" />
                    </svg>
                </header>
                <h3 class="font-bold mb-2">JavaScript</h3>
            </article>
            
            <!-- Habilidad 4 -->
            <article class="card p-6 text-center">
                <header class="w-18 h-18 mx-auto mb-4 bg-blue-100 dark:bg-blue-900/20 rounded-full flex items-center justify-center">
                    <svg class="w-16 h-16 text-cyan-500">
                        <use href="/assets/images/sprite.svg#react" />
                    </svg>
                </header>
                <h3 class="font-bold mb-2">React</h3>
            </article>
            
            <!-- Habilidad 5 -->
            <article class="card p-6 text-center">
                <header class="w-18 h-18 mx-auto mb-4 bg-blue-100 dark:bg-blue-900/20 rounded-full flex items-center justify-center">
                    <svg class="w-16 h-16 text-teal-500">
                        <use href="/assets/images/sprite.svg#tailwind" />
                    </svg>
                </header>
                <h3 class="font-bold mb-2">Tailwind</h3>
            </article>
            
            <!-- Habilidad 6 -->
            <div class="card p-6 text-center">
                <div class="w-18 h-18 mx-auto mb-4 bg-blue-100 dark:bg-blue-900/20 rounded-full flex items-center justify-center">
                    <svg class="w-16 h-16">
                        <use href="/assets/images/sprite.svg#nodejs" />
                    </svg>
                </div>
                <h3 class="font-bold mb-2">Node.js</h3>
            </div>
            
            <!-- Habilidad 7 -->
            <article class="card p-6 text-center">
                <header class="w-18 h-18 mx-auto mb-4 bg-blue-100 dark:bg-blue-900/20 rounded-full flex items-center justify-center">
                    <svg class="w-16 h-16 text text-red-500">
                        <use href="/assets/images/sprite.svg#git" />
                    </svg>
                </header>
                <h3 class="font-bold mb-2">Git</h3>
            </article>
            
            <!-- Habilidad 8 -->
            <article class="card p-6 text-center">
                <header class="w-18 h-18 mx-auto mb-4 bg-blue-100 dark:bg-blue-900/20 rounded-full flex items-center justify-center">
                    <svg class="w-16 h-16 text-blue-700">
                        <use href="/assets/images/sprite.svg#sql" />
                    </svg>
                </header>
                <h3 class="font-bold mb-2">SQL</h3>
            </article>
        </div>
    </div>
</section>